section(class= "destination", id= "Destination")
	div(class= "heading")
		+title("Our","destination", "Set your own destination and start the exciting journey we have for you")
	div(class= "box-container")
		div(class="flex-slick slick-tour")
			- const srcNameLink = ["des-1", "des-2", "des-3", "des-4", "des-5", "des-6", "des-7","des-8"]
			- for(let $numberRun = 0; $numberRun < 8; $numberRun++ )
				+content_boxItem(srcNameLink[$numberRun])