footer(id="footer")
    section(class="box-quick")
        div(class="layout-quick")|
            |
            a(href="#")|
                |
                i(class="fa-solid fa-circle-plus")
                |
                |
                span QUICK LINKS
            |
            |
            span(class="explore") Explore more categories 
            |
            |
            a( class="number-entrada" href="#") 0123-456-324-54 | hello@entrada.com 
        div(class="box-calling")
            div(class="adventures-calling")|
                |
                span Get in touch 
                h3 Adventures Calling You Guys!
            
            div(class="our-offices")|
                |
                div(class="layout-offices-earth")
                    div(class="earth")|
                        |
                        i(class="fa-solid fa-earth-americas")
                    div.text-info-our
                        span Our Offices 
                        h4 Nepal,USA,india 
                        |
                        |
                        div(class="icon-rw")|
                            |
                            i(class="fa-solid fa-arrow-right")
        div(class="services-adventures-country-talk")
            div(class="flex-layout-try-talk")
                div(class="box-ser-ad-try")
                    div(class="layout-ser-ad-try")
                        div(class="services-items")
                            h4 Services 
                            ul(class="parent-ser-ad-try")
                                li(class="item-ser-ad-try")
                                    a(href="") Budget Tours
                                li(class="item-ser-ad-try")
                                    a(href="") Expert Insight
                                li(class="item-ser-ad-try")
                                    a(href="") Independent
                                li(class="item-ser-ad-try")
                                    a(href="") Luxury Tours
                                li(class="item-ser-ad-try")
                                    a(href="") Safety Tips
                                li(class="item-ser-ad-try")
                                    a(href="") Tips n Tricks
                        div(class="adventures-items")
                            h4 Adventures
                            ul(class="parent-ser-ad-try")
                                li(class="item-ser-ad-try")
                                    a(href="") Beach Activity
                                li(class="item-ser-ad-try")
                                    a(href="") Bungee Jump
                                li(class="item-ser-ad-try")
                                    a(href="") City Tour
                                li(class="item-ser-ad-try")
                                    a(href="") Hiking Trips
                                li(class="item-ser-ad-try")
                                    a(href="") Jungle Safari
                                li(class="item-ser-ad-try")
                                    a(href="") Night City Walk
                        div(class="Country-items")
                            h4 Adventures
                            ul(class="parent-ser-ad-try")
                                li(class="item-ser-ad-try")
                                    a(href="") USA
                                li(class="item-ser-ad-try")
                                    a(href="") Australia
                                li(class="item-ser-ad-try")
                                    a(href="") South Africa
                                li(class="item-ser-ad-try")
                                    a(href="") West indies
                                li(class="item-ser-ad-try")
                                    a(href="") New Zealand
                                li(class="item-ser-ad-try")
                                    a(href="") Srilanka
                div(class="box-let-talk")
                    div(class="inline-box-right")
                        h4 Get In Touch 
                        |
                        |
                        span Let's Talk #[i(class="fa-solid fa-arrow-right")]
                        +input_search
            div(class="policy-link")|
                |
                span(class="pri-poli") Privacy policy 
                ul(class="linke-fb-ins")
                    li #[a(href="#") Linkedin]
                    span(class="line-diagonal") /
                    li #[a(href="#") Facebook]
                    span(class="line-diagonal") /
                    li #[a(href="#") Instagram]
        div(class="emprise")
            span 2018-2024 © Emprise