section(class= "outstanding" id="Outstanding")
	div(class= "heading")
		+title("Top", "Destinations", "Sort Brilliant reasons Entrada should be your one-stop-shop!")
	div(class= "box-container")
		div(class="slick-tour-gallery flex-slick")
			+gallery_tour
			+gallery_tour
			+gallery_tour
			+gallery_tour
			+gallery_tour