section(class="guides" id="Guides")
	div.title-guides-heading
		div(class="heading")
			+title("Tours", "Guides", "Sort Brilliant reasons Entrada should be your one-stop-shop!")
		div(class="box-container")
			div(class="max-content-box guides-layout")
				+guides_box()