section(id="question")
    h2 Still have a question?
    p The Brilliant reasons Entrada should be your one-stop-shop! 

    article(class="sale-support-layout container")
        div.row
            div.col
                div(class="for-sales")
                    span(class="icon-earphone")|
                        |
                        i(class="fa-solid fa-headphones-simple")
                    h4 For Sales 
                    p The Brilliant reasons Entrada be your one-stop-shop 
                    |
                    |
                    a(href="#") sales@entrada.com
                    br
                    |
                    |
                    a(href="#") +977(985)456-32-12
            div.col
                div(class="help-support")|
                    |
                    span(class="icon-question")|
                        |
                        i(class="fa-solid fa-question")
                    h4 Help & Support
                    p The Brilliant reasons Entrada be your one-stop-shop 
                    |
                    |
                    a(href="#") sales@entrada.com
                    br
                    |
                    |
                    a(href="#") +977(985)456-32-12