section( class="seller", id="Seller")
	div.title-seller-heading
		div(class="heading")
			+title("Best", "Seller", "Sort Brilliant reasons Entrada should be your one-stop-shop!")
		div(class="btn-seller")
			button Check All
	div(class="box-container")
		article(class="post-seller")
			+seller-post
			//- +seller-post
			//- +seller-post
			//- +seller-post



