section(class="container-tour-world")
    div(id= "box-tour-world")
        div(class="content-tour-world")|
            |
            strong Tour the World from Your Couch with 
            div #ExperienceLive!
            |
            |
            span To kickstart your digital adventures with Entrada 
            |
            |
            a(href="#", class="btn") #[span Check All]  
