section(class= "services", id= "Services")
	div(class= "heading")|
		|
		+title("Select", "Category", "Sost Brilliant reasons Entrada should be your one-stop-shop!")
	div(class= "box-container")
		div(class="flex-slick slick-tour")
			//- +services_box
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 4.8$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/24-hours-support.png")
						h3(class="title-category") #[a(href="#") 24/7 Supports]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 4.3$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/sunbed.png")
						h3(class="title-category") #[a(href="#") Beach Activity]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 5.8$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/jungle.png")
						h3(class="title-category") #[a(href="#") Jungle]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 7.8$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/city.png")
						h3(class="title-category") #[a(href="#") City tours]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 3.9$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/bungee.png")
						h3(class="title-category") #[a(href="#") Bungee Jump]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 4.8$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/vending-machine.png")
						h3(class="title-category") #[a(href="#") Foots && Drinks]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 5.2$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/adventurer.png")
						h3(class="title-category") #[a(href="#") Adventurer]
						|
						|
						span 378 activities
			div(class="box-items-tour")
				div(class= "box")|
					|
					span(class="moneys-category") 6.3$
					div(class="link-category")|
						|
						a(href="#") 
							img(src="./assets/img/backpack.png")
						h3(class="title-category") #[a(href="#") Hiking trips]
						|
						|
						span 378 activities