extends ../template/layout
//- block container 
//- 	//=================Home=================
//- 	include ../components/home
//- 	//=================booking-form ============
//- 	include ../components/booking-form
//- 	//=================Destination=============
//- 	include ../components/destination
//- 	//================= Services =============
//- 	include ../components/services
//- 	//================= Gallery =============
//- 	include ../components/gallery
//- 	//================= Seller ==============
//- 	include ../components/seller
//- 	//================= Guides ==============
//- 	include ../components/guides
//- 	//================= Tour World ===========
//- 	include ../components/tour_world 
//- 	//================= Adventures ==========
//- 	include ../components/adventures
//- 	//================ Question ===============
//- 	include ../components/question
	//================ Footer ================


	

	