
$blue: #29d9d5 !default;
$border: 0.2rem solid $blue !default;
$primary-color-blue-ea: #00ffea;
$primary-color-green-light: #217d7b;
$black: #000000;
$white:#fff;
$light-color:#aaa;
$bg-color:#222;
$text-color-gray:#6f7c7c;
$primary-color-green: #032527;
$primary-color-eeee: #eeeeee;
$primary-color-gray: #556179;
$primary-color-gray-drak-55: #555555;
$primary-color-gray-drak-77: #777777;
$primary-color-green-1f: #041e1f;
$primary-color-black-21: #031a21;
$primary-color-gray-a5: #9ea0a5;
$primary-color-green-2c: #192f2c;
$primary-color-ccc: #ccc;
$primary-color-pink: #f17c95;
$primary-color-pink-d2: #f9c7d2;
$primary-color-pink-de: #fef1de;
$primary-color-orange: rgb(246 94 19 / 93%);
$primary-color-gray-2e: #312e2e;
$primary-color-black-16: #061516;
$primary-color-black-rgba-03: rgba(17,17,17,0.3);
$primary-color-black-rgba-793: rgba(0, 0, 0, 0.793);
$primary-color-black-f2: #121313f2;
$primary-color-black-05: #050505;
$primary-color-black-12: #021612;
$primary-color-yellow: #f6ad33;
$primary-shadow: #090808;
$primary-color-gray-9e: #9e9e9e;
$primary-color-green-b3: #012022b3;
$primary-color-green-rgba-08: rgba(23, 76, 79, 0.6);
$primary-color-green-rgba-93: rgb(3 37 39 / 93%);