section(id="box-adventures")
    div(class="layout-grid-adventures")
        article(class="grid-item")
            div(class="post-img") 
                //- img(src="/app/img/image-guides-1.jpg", alt="")
                video(src="/app/") 
                //- video(style={width: '100%', position: 'absolute', width: '100%', height: '100%', top: '0', left: '0', right: '0', bottom: '0'} src="../video/about-vid-2.mp4" muted controls loop autoplay) 
        article(class="grid-item")
            div(class="post-img")
                img(src="/app/img/image-guides-2.jpg", alt="")
        article(class="grid-item")
            div(class="post-img")
                img(src="/app/img/image-guides-3.jpg", alt="")
        article(class="grid-item")
            div(class="post-info-adventures")
                a(href="#") Subscribe For Offers 
                h3 Adventures Calling You Guys! 
                p The Brilliant reasons Entrada should be your one-stop-shop! 
                +input_search
                span Expect a reply in 2-3 working days

                