section(id="box-adventures")
    div(class="layout-grid-adventures")
        article(class="grid-item")
            div(class="post-img") 
                //- img(src="/app/img/image-guides-1.jpg", alt="")
                video( style="height:400px" src="/app/video/video-mountants.mp4" loop autoplay="true" muted) 
        article(class="grid-item")
            div(class="post-img")
                img(src="/app/img/image-guides-2.jpg", alt="")
        article(class="grid-item")
            div(class="post-img")
                img(src="/app/img/image-guides-3.jpg", alt="")
        article(class="grid-item")
            div(class="post-info-adventures")
                a(href="#") Subscribe For Offers 
                h3 Adventures Calling You Guys! 
                p The Brilliant reasons Entrada should be your one-stop-shop! 
                +input_search
                span Expect a reply in 2-3 working days

                