extends ./views/template/layout
block container 
	//=================Home=================
	include ./views/components/home
	//=================booking-form ============
	include ./views/components/booking-form
	//=================Destination=============
	include ./views/components/destination
	//================= Services =============
	include ./views/components/services
	//================= Gallery =============
	include ./views/components/gallery
	//- //================= Seller ==============
	include ./views/components/seller
	//================= Guides ==============
	include ./views/components/guides
	//================= Tour World ===========
	include ./views/components/tour_world 
	//================= Adventures ==========
	include ./views/components/adventures
	//================ Question ===============
	include ./views/components/question
	//================ Footer ================


	

	